# Dependencies
node_modules/
**/node_modules/

# Production
build/
dist/
out/

# Environment files
.env
cred.txt

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/
**/.vite/

